.demo-table {
	display: inline-block;
	float: left;
	width: 80%;
	background: #eee;
}

.demo-details {
	display: inline-block;
	float: right;
	width: 17%;
}

.edit-wrapper span {
	font-size: 15pt;
    height: 20px;
    padding: 5px;
    display: inline-block;
}